    body {
        font-family: 'Extra-light 200';
        font-size: 100px;
        background-position: initial;
        background-image: linear-gradient(to bottom, #9acda5, #8ed5c7, #96dae2, #afdcf3, #cdddf9);
        background-attachment: fixed;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .contentPanel {
        background-color: white;
        max-width: 800px;
        border-radius: 50px;
        margin-top: 100px;
    }
    
    .site-logo {
        margin: 30px 180px;
    }
    
    .contentHeader {
        margin-top: 50px;
        font-size: 60px;
        text-align: center;
        color: #066b92;
        font-weight: bold;
    }
    
    .suggestion {
        font-size: 50px;
        text-align: center;
        margin: 150px 20PX;
    }
    
    .button-area {
        display: flex;
        justify-content: center;
    }
    
    button {
        border-radius: 50px;
        border-width: 0px;
        background-color: rgb(5, 143, 143);
        color: #FFFF;
        font-family: 'Extra-light 200';
        font-size: 60px;
        display: inline-block;
        padding: 25px 35px;
        letter-spacing: 8px;
        font-weight: 200;
        margin: 30px;
        margin-top: 60px;
    }
    
    .cardNumber {
        border-color: rgba(10, 134, 93, 0.774);
        border-width: 2px;
        border-radius: 20px;
        text-align: center;
        font-size: 55px;
        font-family: "Extra-light 200";
    }
    
    .homeIcon {
        margin: 50px;
        display: inline-block;
        align-self: center;
    }
    
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 50px;
    }
    
    .navIcon {
        height: 150px;
        width: 150px;
    }